.todo-count {
  display: inline-block;
  width: 1.5rem;
  height: fit-content;

  /* padding: 0.2rem 0; */
  margin: 0 0 0 0.4rem;

  border-width: 0.5px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.12);
  background: rgba(255, 255, 255, 0.1);
}

.todo-modal {
  display: inline-flex;
  flex-flow: column nowrap;

  width: 30rem;
  height: 24rem;

  background-color: #2d3436;

  border-radius: 0.25rem;
}

.todo-modal .todo-header {
  flex-grow: 0;

  width: 100%;
  height: 1rem;

  box-sizing: border-box;
  padding: 0 2rem 0 2rem;
  margin-top: 2rem;

  color: #ecf0f1;
}

.todo-modal .empty-msg {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 1;

  text-align: center;
  color: #c6c8c8;
  margin: auto;

  width: 100%;
  height: 0px;
}

.todo-form {
  flex-grow: 0;

  width: 100%;
  height: 3rem;

  background-color: #2d3436;
  filter: brightness(110%);

  box-sizing: border-box;
  padding: 0 1rem 0 1rem;
}
.todo-form input {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  padding: 0 1rem 0 1rem;

  border: none;
  outline: none;
  background: transparent;
  color: #ecf0f1;
}
.todo-form > input::placeholder {
  color: #ecf0f1;
}
.todo-form > input:focus::placeholder {
  color: transparent;
}

.todo-modal .todo-list {
  flex-grow: 1;

  width: 100%;
  height: 0px;

  list-style: none;

  box-sizing: border-box;
  padding: 0 1rem 0 1rem;
  margin: 0;
}
.todo-entry {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  height: 2rem;

  padding: 0 1rem 0 1rem;
}
.todo-entry:hover {
  background: rgba(255, 255, 255, 0.1);
}

.todo-cb {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.todo-cb + label {
  display: inline-block;

  width: 1.2rem;
  height: 1.2rem;

  line-height: 1.2rem;
  text-align: center;
  vertical-align: middle;

  border-radius: 50%;
  background-color: #535c68;
  cursor: pointer;
}
.todo-cb:checked + label {
  background-color: #6ab04c;
}
.todo-cb:checked + label::after {
  content: '\2714';
  font-size: 0.8rem;
  vertical-align: 1rem;
  color: #ecf0f1;
}

.todo-entry form {
  flex-grow: 1;
  display: inline-flex;
  vertical-align: middle;
}
.todo-text-input {
  width: 100%;
  height: 100%;
  border-style: none;
  outline: none;

  font-size: 0.9rem;
  color: #ecf0f1;

  background: transparent;
  padding: 0 1rem;
}
.todo-entry.checked .todo-text-input {
  color: #535c68;
  text-decoration: line-through;
  pointer-events: none;
}

.todo-del-btn {
  display: none;
  border-style: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.todo-entry:hover .todo-del-btn {
  display: inline-block;
}
